/* Popper */
.el-popper {
  &.no-arrow {
    .el-popper__arrow {
      display: none;
    }
  }

  &.custom-popper-1 {
    width: 246px;
    border-radius: 8px;

    .el-dropdown-menu {
      border-radius: 8px;
    }
  }

  &.custom-popper-2 {
    border-radius: 8px;

    .el-dropdown-menu {
      border-radius: 8px;
    }
  }
}
/* End Popper */

/* Dropdown */
.el-dropdown {
  &.custom-dropdown-2 {
    &.is-disabled {
      @apply opacity-50 pointer-events-none #{!important};
    }
  }
}
/* End Drop Down */

