/* Popper */
.el-popper {
  &.no-arrow {
    .el-popper__arrow {
      display: none;
    }

    &[aria-hidden="false"][data-popper-placement="bottom-end"] {
      top: 80px !important;
    }
  }

  &.custom-popper-1 {
    width: 246px;
    border-radius: 8px;

    .el-dropdown-menu {
      border-radius: 8px;
    }
  }
}
/* End Popper */