body {
  font-family: Roboto, serif;
}

.custom-select {
  @apply relative flex items-center;

  select {
    @apply pr-5 text-xs cursor-pointer text-gray-700;
  }

  &:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC4zMzMzNTQgMS4xNjM1N0w0LjAwMDAyIDQuODM3MjNMNy42NjY2OSAxLjE2MzU3IiBzdHJva2U9IiM1ODU4NUMiIHN0cm9rZS13aWR0aD0iMC42NjY2NjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

* {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
  }
}